 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ladynerds has a baby website.  For now, here are links to super duper important documents.  </p>
                  <a style="color:purple" href = "https://docs.google.com/document/d/1QPkjE6eA6QLkjoBWRwVLU1p2csd3midxMPZwTkGn2wg/edit?usp=sharing">Mission and Code of Conduct</a><br>
                  <a style="color:purple" href="https://docs.google.com/document/d/1bxErmW8YldFwlTL81nYSHnVM4bJPMoJAEllF8-XKfmU/edit?usp=sharing">Resources</a>
                </div>
                </div>
                <div class="col-lg-4">
            </div>
        </div>
    </section>